.weatherCard {
    align-items: flex-start;
    background-color: #ffffff;
    color: #274690;
    border-radius: 50px;
    display: flex;
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    margin: auto;
    padding: 20px;
    text-transform: uppercase;
}

.weather-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

header a {
    color: #274690;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    color: #07A0C3;
}

.weatherCard h2 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.WeatherCard-type {
    font-size: 20px;
}

.WeatherCard-currentTemp {
    font-size: 40px;
    font-weight: bold;
}

.main-info {
    flex-direction: column;
    padding: 20px;
}

.extra-info {
    flex-direction: column;
    padding: 20px;   
}

.weatherCard-weatherType {
    flex-direction: column; 
}

.weatherCard-weatherType svg {
    width: 100px;
    height: 100px;
}

.extra-info p {
    margin: 20px;
    font-size: 20px;
}